.header {
  &__title {
    background-color: gray;
    color: hsl(0, 0, 100%);
    text-align: center;
    padding: 0.5rem;
    border-radius: 5rem;
    font-size: var(--h2-font-size);

    @include from(xsmall) {
      font-size: var(--h1-font-size);
    }

    @include from(medium) {
      width: 60vw;
      font-size: calc(var(--h1-font-size) * 1.7);
    }

    @include from(large) {
      font-size: calc(var(--h1-font-size) * 2);
      width: 50vw;
    }
  }
}
