:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --body-font-size: 0.9rem;
  --small-font-size: 0.7rem;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --font-size: 1.2rem;
}

:root {
  --display-color: hsl(40, 70%, 65%);
  --calculator-bg-color: hsl(244, 50%, 50%);
  --buttons-bg-color: hsl(244, 100%, 10%);
  --buttons-color: hsl(0, 0%, 100%);
}

$breakpoints: (
  xsmall: 320px,
  small: 481px,
  medium: 768px,
  large: 1024px,
  xlarge: 1201px,
);
